
.navbar{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;

  background: transparent;   
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 50px;
  z-index: 10;
}
.logo
{
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    font-size: 24px;
    font-weight: bold;
    gap:0.2rem;
}

.logo-icon{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: black;

}

.glow-strong {
  position: absolute;
  top: -200px;
  left: 50%;
  transform: translateX(-50%);
  width: 900px;
  height: 400px;
  background: rgba(34, 197, 94, 0.25);
  filter: blur(160px);
  border-radius: 50%;
  z-index: 0;
}

.glow-soft {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  width: 1200px;
  height: 500px;
  background: rgba(74, 222, 128, 0.12);
  filter: blur(200px);
  border-radius: 50%;
  z-index: 0;
}

.login-button {
  padding: 10px 26px;
  border-radius: 999px;

  background: rgba(255, 255, 255, 0.08);  
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border: 1px solid rgba(255, 255, 255, 0.15);
  color: white;
  font-size: 14px;
  cursor: pointer;

  box-shadow: 
    inset 0 0 10px rgba(255, 255, 255, 0.05),
    0 0 20px rgba(34, 197, 94, 0.15);

  transition: 0.3s ease;
}

.login-button:hover {
  background: rgba(34, 197, 94, 0.2);
  border-color: rgba(34, 197, 94, 0.5);
  color: #22c55e;
  box-shadow: 
    0 0 25px rgba(34, 197, 94, 0.5);
}

.main-content {
  position: relative;
  z-index: 5;
  padding: 160px 190px 140px;   
  text-align: center;
  color: white;
}

.text-section{
    max-width: 800px;
    z-index: 10;
    position: relative;
}
h1{
    font-size: 48px;
    font-weight: bold;
}
p{
    font-size: 20px;
    margin-top: 20px;
}
span{
    color: #22c55e;
    font-weight: bold;
    font-size:25px;
}


.get-started-button{
    height: 50px;
    width:160px;
    background-color: #22c55e;
    border-radius: 999px;
    border:none;
    margin-top:30px;
    margin-left: 1rem;
    cursor: pointer;
    font-size: 18px;
    color:black;
}

.get-started-button:hover{
        box-shadow: 0px 0px 5px #22c55e,0px 0px 25px #22c55e,0px 0px 50px #22c55e,0px 0px 100px #22c55e,
        0px 0px 200px #22c55e;
        color:white;
}

.learn-more-button{
    margin-left: 20px;
    height: 50px;
    width:160px;
    background-color: transparent;
    border-radius: 999px;
    border:2px solid #22c55e;
    cursor:pointer;
    font-size: 18px;
}
.learn-more-button:hover{
     box-shadow: 0px 0px 5px white,0px 0px 25px white,0px 0px 50px white,0px 0px 100px white,
        0px 0px 200px white;
    color:white;
    border:2px solid black;
}  

.logo-image{
    margin-top: 2px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.learn-more-section {
  min-height: 100vh;
  margin-top: 2.2rem;
}